Repository BrighterCommand/Brighter, pull requests merged in 2021-04, with the labels that each got.

#1474 Async Eventloop
  release_notes.md
  src/Paramore.Brighter.MessagingGateway.AWSSQS/SqsSubscription.cs
  src/Paramore.Brighter.MessagingGateway.MsSql/MsSqlSubscription.cs
  src/Paramore.Brighter.MessagingGateway.RMQ/RmqSubscription.cs
  src/Paramore.Brighter.MessagingGateway.Redis/RedisSubscription.cs
  src/Paramore.Brighter.ServiceActivator/BrighterSynchronizationContext.cs
  src/Paramore.Brighter.ServiceActivator/ConnectionBuilder.cs
  src/Paramore.Brighter.ServiceActivator/Consumer.cs
  src/Paramore.Brighter.ServiceActivator/ConsumerFactory.cs
  src/Paramore.Brighter.ServiceActivator/IAmAMessagePump.cs
  src/Paramore.Brighter.ServiceActivator/MessagePump.cs
  src/Paramore.Brighter.ServiceActivator/MessagePumpAsync.cs
  src/Paramore.Brighter.ServiceActivator/MessagePumpBlocking.cs
  src/Paramore.Brighter.ServiceActivator/MessagePumpSynchronizationContext.cs
  src/Paramore.Brighter.ServiceActivator/Performer.cs
  src/Paramore.Brighter/Message.cs
  src/Paramore.Brighter/Subscription.cs
  tests/Paramore.Brighter.Core.Tests/CommandProcessors/TestDoubles/MyEventHandlerAsyncWithContinuation.cs
  tests/Paramore.Brighter.Core.Tests/MessageDispatch/When_a_channel_failure_exception_is_thrown_for_command_should_retry_until_connection_re_established.cs
  tests/Paramore.Brighter.Core.Tests/MessageDispatch/When_a_channel_failure_exception_is_thrown_for_event_should_retry_until_connection_re_established.cs
  tests/Paramore.Brighter.Core.Tests/MessageDispatch/When_a_message_dispatcher_Is_asked_to_connect_a_channel_and_handler_async.cs
  tests/Paramore.Brighter.Core.Tests/MessageDispatch/When_a_message_fails_to_be_mapped_to_a_request.cs
  tests/Paramore.Brighter.Core.Tests/MessageDispatch/When_a_message_fails_to_be_mapped_to_a_request_and_the_unacceptable_message_limit_is_reached.cs
  tests/Paramore.Brighter.Core.Tests/MessageDispatch/When_a_message_is_dispatched_it_should_reach_a_handler.cs
  tests/Paramore.Brighter.Core.Tests/MessageDispatch/When_a_message_is_dispatched_it_should_reach_a_handler_async.cs
  tests/Paramore.Brighter.Core.Tests/MessageDispatch/When_a_requeue_count_threshold_for_commands_has_been_reached.cs
  tests/Paramore.Brighter.Core.Tests/MessageDispatch/When_a_requeue_count_threshold_for_events_has_been_reached.cs
  tests/Paramore.Brighter.Core.Tests/MessageDispatch/When_a_requeue_of_command_exception_is_thrown.cs
  tests/Paramore.Brighter.Core.Tests/MessageDispatch/When_a_requeue_of_event_exception_is_thrown.cs
  tests/Paramore.Brighter.Core.Tests/MessageDispatch/When_an_unacceptable_message_is_recieved.cs
  tests/Paramore.Brighter.Core.Tests/MessageDispatch/When_an_unacceptable_message_limit_is_reached.cs
  tests/Paramore.Brighter.Core.Tests/MessageDispatch/When_reading_a_message_from_a_channel_pump_out_to_command_processor.cs
  tests/Paramore.Brighter.Core.Tests/MessageDispatch/When_running_a_message_pump_on_a_thread_should_be_able_to_stop.cs
Labels: 3 - Done, Bug, feature request

#1498 Added Token Based Authentication to MsSQL inbox and outbox #1491
  CONTRIBUTORS.md
  src/Paramore.Brighter.Inbox.MsSql/ConnectionFactories/IMsSqlInboxConnectionFactory.cs
  src/Paramore.Brighter.Inbox.MsSql/ConnectionFactories/MsSqlInboxDefaultAzureConnectionFactory.cs
  src/Paramore.Brighter.Inbox.MsSql/ConnectionFactories/MsSqlInboxManagedIdentityConnectionFactory.cs
  src/Paramore.Brighter.Inbox.MsSql/ConnectionFactories/MsSqlInboxSharedTokenCacheConnectionFactory.cs
  src/Paramore.Brighter.Inbox.MsSql/ConnectionFactories/MsSqlInboxSqlAuthConnectionFactory.cs
  src/Paramore.Brighter.Inbox.MsSql/MsSqlInbox.cs
  src/Paramore.Brighter.Inbox.MsSql/Paramore.Brighter.Inbox.MsSql.csproj
  src/Paramore.Brighter.Outbox.MsSql/ConnectionFactories/IMsSqlOutboxConnectionFactory.cs
  src/Paramore.Brighter.Outbox.MsSql/ConnectionFactories/MsSqlOutboxDefaultAzureConnectionFactory.cs
  src/Paramore.Brighter.Outbox.MsSql/ConnectionFactories/MsSqlOutboxManagedIdentityConnectionFactory.cs
  src/Paramore.Brighter.Outbox.MsSql/ConnectionFactories/MsSqlOutboxSharedTokenCacheConnectionFactory.cs
  src/Paramore.Brighter.Outbox.MsSql/ConnectionFactories/MsSqlOutboxSqlAuthConnectionFactory.cs
  src/Paramore.Brighter.Outbox.MsSql/MsSqlOutbox.cs
  src/Paramore.Brighter.Outbox.MsSql/MsSqlOutboxConfiguration.cs
  src/Paramore.Brighter.Outbox.MsSql/Paramore.Brighter.Outbox.MsSql.csproj
Labels: 2 - In Progress, feature request

#1499 Add Structured Logging #1254
  CONTRIBUTORS.md
  samples/KafkaPartitionTesting/GreetingsSender/Adapters/TimedMessageGenerator.cs
  samples/KafkaTaskQueueSamples/GreetingsSender/Adapters/TimedMessageGenerator.cs
  src/Paramore.Brighter.Inbox.MsSql/MsSqlInbox.cs
  src/Paramore.Brighter.Inbox.MySql/MySqlInbox.cs
  src/Paramore.Brighter.Inbox.Postgres/PostgresSqlInbox.cs
  src/Paramore.Brighter.Inbox.Sqlite/SqliteInbox.cs
  src/Paramore.Brighter.MessagingGateway.AWSSQS/ChannelFactory.cs
  src/Paramore.Brighter.MessagingGateway.AWSSQS/SqsMessageConsumer.cs
  src/Paramore.Brighter.MessagingGateway.AWSSQS/SqsMessageProducer.cs
  src/Paramore.Brighter.MessagingGateway.AzureServiceBus/AzureServiceBusConsumer.cs
  src/Paramore.Brighter.MessagingGateway.AzureServiceBus/AzureServiceBusMessageProducer.cs
  src/Paramore.Brighter.MessagingGateway.AzureServiceBus/AzureServiceBusWrappers/ManagementClientWrapper.cs
  src/Paramore.Brighter.MessagingGateway.Kafka/KafkaMessageConsumer.cs
  src/Paramore.Brighter.MessagingGateway.Kafka/KafkaMessageCreator.cs
  src/Paramore.Brighter.MessagingGateway.Kafka/KafkaMessageProducer.cs
  src/Paramore.Brighter.MessagingGateway.Kafka/KafkaMessagingGateway.cs
  src/Paramore.Brighter.MessagingGateway.MsSql/ChannelFactory.cs
  src/Paramore.Brighter.MessagingGateway.MsSql/MsSqlMessageConsumer.cs
  src/Paramore.Brighter.MessagingGateway.MsSql/MsSqlMessageConsumerFactory.cs
  src/Paramore.Brighter.MessagingGateway.MsSql/MsSqlMessageProducer.cs
  src/Paramore.Brighter.MessagingGateway.MsSql/SqlQueues/MsSqlMessageQueue.cs
  src/Paramore.Brighter.MessagingGateway.RESTMS/Domain.cs
  src/Paramore.Brighter.MessagingGateway.RESTMS/Feed.cs
  src/Paramore.Brighter.MessagingGateway.RESTMS/Join.cs
  src/Paramore.Brighter.MessagingGateway.RESTMS/Pipe.cs
  src/Paramore.Brighter.MessagingGateway.RESTMS/RestMSMessageGateway.cs
  src/Paramore.Brighter.MessagingGateway.RESTMS/RestMsMessageConsumer.cs
  src/Paramore.Brighter.MessagingGateway.RESTMS/RestMsMessageProducer.cs
  src/Paramore.Brighter.MessagingGateway.RMQ/ConnectionPolicyFactory.cs
  src/Paramore.Brighter.MessagingGateway.RMQ/PullConsumer.cs
  src/Paramore.Brighter.MessagingGateway.RMQ/RmqMessageConsumer.cs
  src/Paramore.Brighter.MessagingGateway.RMQ/RmqMessageCreator.cs
  src/Paramore.Brighter.MessagingGateway.RMQ/RmqMessageGateway.cs
  src/Paramore.Brighter.MessagingGateway.RMQ/RmqMessageGatewayConnectionPool.cs
  src/Paramore.Brighter.MessagingGateway.RMQ/RmqMessageProducer.cs
  src/Paramore.Brighter.MessagingGateway.RMQ/RmqMessagePublisher.cs
  src/Paramore.Brighter.MessagingGateway.Redis/RedisMessageConsumer.cs
  src/Paramore.Brighter.MessagingGateway.Redis/RedisMessageCreator.cs
  src/Paramore.Brighter.MessagingGateway.Redis/RedisMessageProducer.cs
  src/Paramore.Brighter.Outbox.EventStore/EventStoreOutbox.cs
  src/Paramore.Brighter.Outbox.MsSql/MsSqlOutbox.cs
  src/Paramore.Brighter.Outbox.MySql/MySqlOutbox.cs
  src/Paramore.Brighter.Outbox.PostgreSql/PostgreSqlOutbox.cs
  src/Paramore.Brighter.Outbox.Sqlite/SqliteOutbox.cs
  src/Paramore.Brighter.ServiceActivator/Dispatcher.cs
  src/Paramore.Brighter.ServiceActivator/MessagePump.cs
  src/Paramore.Brighter.ServiceActivator/MessagePumpAsync.cs
  src/Paramore.Brighter.ServiceActivator/MessagePumpBlocking.cs
  src/Paramore.Brighter.ServiceActivator/Ports/Handlers/ConfigurationCommandHandler.cs
  src/Paramore.Brighter/CommandProcessor.cs
  src/Paramore.Brighter/Inbox/Handlers/UseInboxHandler.cs
  src/Paramore.Brighter/Inbox/Handlers/UseInboxHandlerAsync.cs
  src/Paramore.Brighter/LifetimeScope.cs
  src/Paramore.Brighter/Logging/Handlers/RequestLoggingHandler.cs
  src/Paramore.Brighter/Logging/Handlers/RequestLoggingHandlerAsync.cs
  src/Paramore.Brighter/PipelineBuilder.cs
  src/Paramore.Brighter/RequestHandler.cs
  src/Paramore.Brighter/RequestHandlerAsync.cs
Labels: 3 - Done, feature request
